# unwanted file-types
*.pyc
/*.patch
*.ipynb_checkpoints

# build products
/xpipeline/version.py
/build/
/dist/
/xpipeline.egg-info
/.eggs/

# documentation products
/docs/_build/
/docs/api/
/docs/savefig/

# test products
/.cache/
/.coverage

# Cython created CPP codes
/xpipeline/cluster/src/nearestneighbors.cpp
/xpipeline/cluster/src/superclustertriggers.cpp
/xpipeline/cluster/src/clusterproperties.cpp
/xpipeline/cluster/src/clustersum.cpp
